
<div class="jumbotron center">
<h1>Welcome to my app!</h1>
<p>
<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "https://scontent-a-ord.xx.fbcdn.net/hphotos-frc1/s235x350/374388_10100678795310557_1272015619_n.jpg", class: "btn btn-primary btn-lg" %>
     </p>
 </div> 
